/*  XSMALL & SMALL DEVICES   */

@media (min-width: 320px) and (max-width: 598px) {
  .prev,
  .next {
    font-size: 11px;
    display: none;
  }

  .wrapper {
    margin: 0;
    /* padding: 1.8em; */
    display: grid;
    grid-template-columns: 290px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links > div > a {
    display: block;
  }

  .icons {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .author {
    display: block;
    align-items: center !important;
  }

  .title {
    /* font-size: 1.4em; */
    text-align: center;
    font-weight: 600;
    display: block;
    margin-bottom: 0.8em;
  }

  .slideshow-container {
    width: 300px;
    height: 300px;
    padding-right: 0.8em;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .text {
    font-size: 1em;
    font-weight: 600;
    /* padding: 10px 12px; */
    /* position: bottom; */
    /* bottom: 2px; */
    width: 100%;
    text-align: justify;
    background-color: rgb(245, 245, 245);
    color: #272727;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .numbertext {
    font-size: 12px;
  }

  /* .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } */

  .footer {
    grid-area: footer;
    height: 30px;
    width: 100vw;
    background-color: rgb(49, 49, 49);
    grid-row-end: 4;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 2em;
  }
}

/*   SMALL TO MEDIUM DEVICES   */

@media (min-width: 599px) and (max-width: 900px) {
  .prev,
  .next {
    font-size: 11px;
    display: none;
  }

  .wrapper {
    margin: 0;
    /* padding: 1.8em; */
    display: grid;
    grid-template-columns: 500px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links > div > a {
    display: inline;
  }

  .icons {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .author {
    display: block;
    align-items: center !important;
  }

  .title {
    font-size: 1.3em;
    text-align: center;
    font-weight: 600;
    display: block;
    margin-bottom: 0.8em;
  }

  .slideshow-container {
    width: 100%;
    height: 90%;
    margin-bottom: 0.8em;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .text {
    font-size: 1em;
    font-weight: 600;
    /* padding: 10px 12px; */
    /* position: bottom; */
    /* bottom: 2px; */
    width: 100%;
    text-align: justify;
    background-color: rgb(245, 245, 245);
    color: #272727;
  }

  .numbertext {
    color: #ddd;
    text-transform: uppercase;
    /* background-color: #272727b4; */
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .footer {
    grid-area: footer;
    height: 30px;
    width: 100vw;
    background-color: rgb(49, 49, 49);
    grid-row-end: 4;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 2em;
  }
}

/*   DESKTOP  */

@media (min-width: 901px) {
  .prev,
  .next {
    font-size: 11px;
    display: none;
  }

  .wrapper {
    margin: 0;
    /* padding: 1.8em; */
    display: grid;
    grid-template-columns: 850px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links > div > a {
    display: block;
    /* margin-bottom: 0.5em; */
  }

  .links > div > label {
    margin-bottom: 1em;
    margin-top: 1.5em;
    background-color: rgb(230, 230, 230);
    color: #272727;
  }

  .icons {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .author {
    display: block;
    align-items: center !important;
  }

  .title {
    font-size: 1.3em;
    text-align: center;
    font-weight: 600;
    display: block;
    margin-bottom: 0.8em;
  }

  .slideshow-container {
    width: 100%;
    height: 90%;
    margin-bottom: 0.8em;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .text {
    font-size: 1em;
    font-weight: 600;
    /* padding: 10px 12px; */
    /* position: bottom; */
    /* bottom: 2px; */
    width: 100%;
    text-align: justify;
    background-color: rgb(245, 245, 245);
    color: #272727;
  }

  .numbertext {
    color: #ddd;
    text-transform: uppercase;
    /* background-color: #272727b4; */
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .footer {
    grid-area: footer;
    height: 30px;
    width: 100vw;
    background-color: rgb(49, 49, 49);
    grid-row-end: 4;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 2em;
  }
}
