/*  BASE STYLE FOR BLOG-POSTS */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #272727;
}

a:hover {
  background-color: rgb(84, 0, 163);
  font-size: 0.8em !important;
  color: #ddd;
  padding: 12px;
  border-radius: 5px;
  height: fit-content;
}

.content {
  grid-area: content;
  position: relative;
  text-align: center;
}

.header {
  grid-area: header;
}

.img-1,
.img-2,
.img-3 {
  width: 100%;
  opacity: 0.9;
}

.copyright {
  float: right;
  padding-right: 1.5em;
  padding-top: 1em;
  color: #ddd;
  font-size: 0.8em;
}
