/* Base Styles for Blog Page */

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 3.5em 3em 0 3em;
  display: grid;
  grid-template-columns: 850px;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
}

label {
  margin-top: 0.5em;
}

.avatar {
  /* vertical-align: middle;
  justify-content: center; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 0.8em;
}

.icons > a {
  color: rgb(44, 0, 167);
}

.icons > a:hover {
  color: #272727;
}

a {
  color: rgb(44, 0, 167);
  font-weight: 600;
}

a:hover {
  color: #272727;
}

.title {
  background-color: #303030;
  color: #ddd;
  /* display: inline-block; */
}

.copyright {
  float: right;
  padding-right: 1.5em;
  padding-top: 1em;
  color: #ddd;
  font-size: 0.8em;
}
