/*  XSMALL & SMALL DEVICES   */

@media (min-width: 320px) and (max-width: 599px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-container > div {
    width: 260px;
    height: 220px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #272727;
    margin: 10px;
    padding-top: 1.5em;
  }

  .flex-container > div > span {
    color: #fff;
    font-weight: 600;
    font-size: 0.8em;
  }

  .wrapper {
    margin: 1em;
    padding: 1.5em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 270px;
    height: 100vh;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    justify-content: center;
  }

  .footer {
    grid-area: footer;
    height: 30px;
    width: 100vw;
    background-color: rgb(70, 70, 70);
    grid-row-end: 4;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

/*   SMALL TO MEDIUM DEVICES   */

@media (min-width: 600px) and (max-width: 900px) {
  .flex-container {
    display: flex;
    background-color: center;
    justify-content: center;
    flex-direction: row;
  }

  .flex-container > div {
    background-color: #ff0707;
    margin: 1em;
    font-size: 20px;
    border-radius: 10px;
    width: 50%;
    height: 100px;
  }
}

/*   DESKTOP  */

@media (min-width: 901px) {
  .header {
    grid-area: header;
    padding: 20px;
  }

  .sidebar {
    grid-area: sidebar;
    padding: 20px;
  }

  .content {
    grid-area: content;
    padding: 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flex-container > div {
    width: 260px;
    height: 220px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #272727;
    margin: 30px;
    padding-top: 2em;
    border-radius: 10px;
  }

  .flex-container > div > span {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
  }
}
