/* Slideshow container */

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
}

.numbertext {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  border-radius: 10px;
  width: 100%;
}

.text {
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.836);
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: justify;
  border-radius: 10px;
  font-weight: 600;
}

.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-bottom: 2em;
  background-color: #272727;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.prev,
.next {
  display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
